<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.forem.webview">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:supportsRtl="true">
    <activity
      android:name=".video.VideoPlayerActivity"
      android:configChanges="orientation|screenSize|layoutDirection" />
    <service android:name=".media.AudioService" />
  </application>
</manifest>
