<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.forem.webview">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application android:supportsRtl="true">
    <activity
      android:name=".video.VideoPlayerActivity"
      android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
      android:launchMode="singleTask"
      android:supportsPictureInPicture="true"
      tools:targetApi="n" />
    <service android:name=".media.AudioService" />
  </application>

  <instrumentation
    android:name="androidx.test.runner.AndroidJUnitRunner"
    android:targetPackage="com.forem.webview" />
</manifest>
